@import 'tailwindcss';

:root {
  --background: #f0f0f0;
  --foreground: #0f0f0f;
  --primary: #084a8c;
}

@theme inline {
  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #f2f2f2;
    --primary: #53a8ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
